# Последние 2 версии каждого браузера
last 2 versions

# Браузеры с долей рынка более 0.5% по всему миру
> 0.5%

# Исключить официально «мертвые» браузеры (без поддержки)
not dead

# Специальное правило для Internet Explorer
not ie <= 11